@page "/Families"
@using FamiliesPart2.Data
@using FamiliesPart2.Models
@inject IService<Family> _familyService
@inject NavigationManager _navigationManager
<h3>FamilyPage</h3>
@if (_familiesToShow == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else if (!_familiesToShow.Any())
{
    <p>
        <em> No Families register!</em>
    </p>
}
<table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">House Number</th>
                <th scope="col">Street Name</th>
                <th scope="col">Adults</th>
                <th scope="col">Children</th>
                <th scope="col">Pets</th>
            </tr>
        </thead>
        <tbody>
        
        @foreach (var family in _familiesToShow)
        {
            <tr>
                <td>@family.HouseNumber</td>
                <td>@family.StreetName</td>
                <td>@family.Adults.Count</td>
                <td>@family.Children.Count</td>
                <td>@family.Pets.Count</td>
            </tr>
        }
        </tbody>
    </table>

@code {
    private IList<Family> _familiesToShow;

    protected override async Task OnInitializedAsync()
    {
        _familiesToShow = await _familyService.GetAllAsync();
    }
}